.display{
    min-height: 100vh;        
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-container{
    width: 95%;
    height: 85vh;
    max-width: 1000px;
    background-color: #EDEDED;
    display: flex;
    padding: 20px;
    flex-grow: 1;
}
